@model UserHomeModel

@{
    ViewData["Title"] = "User Management Home";
}


<button type="button" id="add-user-button" class="btn btn-outline-dark" data-toggle="modal" data-target="#AddUserModal">
    AddUser
</button>

<div class="modal fade" id="AddUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="User.accountType" class="control-label"></label>
                        <select asp-for="User.accountType" asp-items="Model.AccountTypes" class="form-control"></select>
                        <span asp-validation-for="User.accountType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Username" class="control-label"></label>
                        <input asp-for="User.Username" class="form-control" />
                        <span asp-validation-for="User.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Password" class="control-label"></label>
                        <input type="password" asp-for="User.Password" class="form-control" />
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.FirstName" class="control-label"></label>
                        <input asp-for="User.FirstName" class="form-control" />
                        <span asp-validation-for="User.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.LastName" class="control-label"></label>
                        <input asp-for="User.LastName" class="form-control" />
                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.email" class="control-label"></label>
                        <input asp-for="User.email" class="form-control" />
                        <span asp-validation-for="User.email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.DateOfBirth" class="control-label"></label>
                        <input type="date" value="@DateTime.Today.Date" asp-for="User.DateOfBirth" class="form-control" />
                        <span asp-validation-for="User.DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" value="@DateTime.UtcNow" asp-for="User.AccountCreationDate" class="form-control" />
                        <span asp-validation-for="User.AccountCreationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="h4">
                    Are you sure you want to delete the selected user?
                </div>
                <form>
                    <a asp-action="DeleteUser" name="deleteUserId" asp-route-id="10003" class="btn btn-danger">Delete</a>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reset Pasword</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="h4">
                    Please enter the new password
                </div>
                <form asp-action="ResetPassword">
                    <div class="form-group">
                        <input name="id" value="" type="hidden" />
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>                
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DisableUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Disable User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="h4">
                    Are you sure you wish to disable the user? They will be unable to access their account.
                </div>
                <form asp-action="DisableUser">
                    <div class="form-group">
                        <input name="id" value="" type="hidden" />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="user-disabled" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EnableUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enable User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="h4">
                    Are you sure you wish to enable the user? They will be able to access their account again.
                </div>
                <form asp-action="EnableUser">
                    <div class="form-group">
                        <input name="id" value="" type="hidden" />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="user-enabled" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="table-shadow" class="table box-shadow">
                <thead class="thead-dark">
                    <tr>
                        <th>User Id</></th>
                        <th>Username</></th>
                        <th>First Name</></th>
                        <th>Last Name</></th>
                        <th>Account Creation Date</></th>
                        <th>Account Status</></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="dynamic-body">
                    @for (int i = 0; i < Model.UserList.Count; ++i)
                    {
                        <tr class="dynamic-row @(Model.UserList[i].accountStatus == Models.UserProfileModel.AccountStatus.Disabled ? "disabled-row" : "")" id="@Model.UserList[i].UserId">
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserList[i].UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserList[i].Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserList[i].FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserList[i].LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserList[i].AccountCreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.UserList[i].accountStatus)
                            </td>
                            <td id="lastDynamicIndex" class="btn-group dropright">
                                <button type="button" id="three-dot-button-box" class="three-dot-button-box" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div id="three-dot-button-div">
                                        <i class="fas fa-ellipsis-v" id="three-dot-button-@Model.UserList[i].UserId" style="display: none;"></i>
                                    </div>

                                </button>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" data-toggle="modal" data-target="#UpdatePasswordModal" data-user-id="@Model.UserList[i].UserId">Reset Password</button>
                                    @if (Model.UserList[i].accountStatus == Models.UserProfileModel.AccountStatus.Disabled)
                                    {
                                        <button class="dropdown-item" data-toggle="modal" data-target="#EnableUserModal" data-user-id="@Model.UserList[i].UserId">Enable User</button>
                                    }
                                    else
                                    {
                                        <button class="dropdown-item" data-toggle="modal" data-target="#DisableUserModal" data-user-id="@Model.UserList[i].UserId">Disable User</button>
                                    }

                                    <button class="dropdown-item" data-toggle="modal" data-target="#DeleteUserModal" data-user-id="@Model.UserList[i].UserId">Delete Account</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{}
}


